{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="clo-md-12">
    <h2>攻略精选</h2>
  </div>
</div>
{% for article in articles%}
  <div class="col-md-4">
    <table class="table table-hover">
        <!--<img src="" alt="sample_image" class="img-responsive img-round">-->
      <td>{{article.abstract}}</td>
    </table>
  </div>


{% endfor %}
  <!--<table class="table table-bordered">
    <tr>
      <th>状态</th>
      <th>标题</th>
      <th>作者</th>
      <th>更新时间</th>
    </tr>
    {% for article in articles %}
    <tr>
    <td>{{ article.get_status_display }}</td>
    <td><a href="">{{ article.title }}</a></td>
    <td>{{ article.owner }}</td>
    <td>{{ article.last_update_timestamp | date:"Y-M-D H:i:s" }}</td>
    </tr>
    {% endfor%}
  </table>-->


{% endblock %}
